.facility{
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.facility-left{
    flex-basis: 56%;
    position: relative;
}

.facility-right{
    flex-basis: 40%;
}

.facility-img{
    width: 100%;
    border-radius: 10px;
}

.facility h3{
    font-weight: 600;
    font-size: 16px;
    color: goldenrod;
}

.facility h2{
    font-size: 35px;
    color: black;
    margin: 10px 0;
    max-width: 400px;
}

.facility p{
    color: black;
    margin-bottom: 17px;
}
