.facility {
    margin: 100px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    background-color: #f9f9f9; /* Light background color */
    padding: 20px; /* Add some padding for better readability */
}

.facility-left {
    flex-basis: 56%; /* Text on the left */
}

.facility-right {
    flex-basis: 33%; /* Image on the right */
}

.facility-img {
    width: 100%;
    border-radius: 10px;
}

.facility h3 {
    font-weight: 600;
    font-size: 30px;
    color: #4e3426;
}

.facility h2 {
    font-size: 20px;
    color: #d39e71; /* Dark text color */
    margin: 10px 0;
    max-width: 400px;
}

.facility p {
    color: #4e3426; /* Slightly darker text color for better contrast */
    margin-bottom: 22px;
    font-size: 17px;
}