.Products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.products-header {
    display: flex;
    gap: 5rem;
    font-weight: bold;
    font-size: 3rem;
    justify-content: center;
    text-transform: uppercase;
}

.products-subheader {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 0.5rem;
}

.slick-slide {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    width: 200px;
    border-radius: 8px;
    transition: background 0.3s ease;
}

.category img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.category-heading {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}

.category-details {
    font-size: 0.9rem;
    line-height: 25px;
    text-align: center;
}
