:root {
    --primary-color: #4e3426;
    --secondary-color: #d39e71;
    --background-color: #f5f5f5;
    --card-bg-color: #ffffff;
    --card-hover-bg-color: #d39e71;
    --text-color: #4e3426;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 5%;
}

.products-header {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 3rem;
    color: var(--primary-color);
    text-transform: uppercase;
}

.products-subheader {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 2rem;
}

.products-subheader button {
    padding: 10px 20px;
    background-color: var(--card-bg-color);
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: var(--primary-color);
    transition: background-color 0.3s ease;
}

.products-subheader button:hover {
    background-color: var(--card-hover-bg-color);
    color: white;
}

.products-categories {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.category {
    display: flex;
    flex-direction: column;
    background-color: white;
    gap: 1rem;
    color: rgba(0, 0, 0, 0.8);
    justify-content: space-between;
    align-items: center;
    width: 22%; /* Adjust width to fit four cards in one row */
    height: 350px; /* Fixed height for uniform size */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
    text-align: center;
}

.category img {
    width: 85%;
    height: 85%; /* Adjusted height for better visibility */
    border-radius: 10px;
    object-fit: contain;
}

.category-heading {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}


@media screen and (max-width: 1200px) {
    .products-categories {
        gap: 0.5rem; /* Reduced gap for smaller screens */
    }
    .category {
        width: 24%; /* Adjust width for better fit */
    }
}

@media screen and (max-width: 768px) {
    .category {
        width: 48%; /* Adjust width for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    .category {
        width: 100%; /* Full width for very small screens */
    }
}
