.clients {
  margin: 80px auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.client {
  position: relative;
  height: 180px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.client img {
  width: 180px;
  height: 180px;
  border-radius: 10px;
  background-color: white;
  padding: 10px;
  object-fit: contain;
}

.caption {
  border-radius: 10px;
  height: 180px;
  width: 180px;
  position: absolute;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  cursor: pointer;
  opacity: 0;
  transition: 0.3s;
}

.client:hover .caption {
  opacity: 0.8;
  padding-top: 0;
}
