.title{
    text-align: center;
    color: #a28c21;
    font-size: 15px;
    font-weight: 600;
    text-transform: none;
    margin: 70px 150px 0px 150px;
}
.title h2{
    font-size: 34px;
    color: #39396e;
    margin-top: 5px;
    text-transform: uppercase;
    margin: 70px 40px 10px 30px;

}