
.footer{
    margin: 0 35px 5px 35px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 15px 0px;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20;
    padding: 0 5px 0 20px;
}
