@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url('https://fonts.googleapis.com/css2?family=Revue&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Outfit", sans-serif;
}
body{
  background-color: white;
  
}
a{
  text-decoration: none;
  color: inherit;
  line-height: 1;
  cursor: pointer;
}

.container{
  padding-left: 10%;
  padding-right: 10%;
}

.btn{
  background: #4e3426;
  color: #d39e71;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  border: 0;
  outline: 0;
}


/*media query*/
@media (max-width:1200px){
  .container{
    padding-left: 5%;
    padding-right: 5%;
  }
  .btn{
    padding: 14px 22px;
  }
}
